@*<div class="product">
    <img src="images/@Image" alt="@Title" />
    <div class="product-info">
        <h1>@Title</h1>
        <p class="price">$ @Price.ToString("#,##0.#0")</p>
        <p class="description">@Description</p>
    </div>
    <p><button>Add to Cart</button></p>
</div>*@


<div class="product" @attributes="Params">
    <img src="images/@Image" alt="@Title" />
    <div class="product-info">
        <h1>@Title</h1>
        @{
            var finalPrice = Price - (Price * Discount) / 100;
            if (finalPrice == Price)
            {
                <p class="price">$ @Price.ToString("#,##0.#0")</p>
            }
            else
            {
                <p class="oldprice">$ @Price.ToString("#,##0.#0")</p>
                <p class="price">$ @finalPrice.ToString("#,##0.#0")</p>
            }
        }
        <p class="description">@Description</p>
    </div>
    <p><button>Add to Cart</button></p>
</div>

@code {

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public decimal Price { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Params { get; set; }

    [CascadingParameter(Name = "Discount")]
    public int Discount { get; set; }

}
